body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* line-height: 2.428571; */
    color: #333;
    background-color: #fff;
}

.container {
    line-height: 2.428;
}

.social-ico {
    padding: 15px;
    color: black;
}

.page-header {
    /* margin: 22px 0 20px; */
}

.telephone {
    text-align: center;
}

.tele {
    color: #00CCFA;
}

.social {
    text-align: center;
}

.head_des {
    text-align: center;
}

nav.navbar.navbar-default {
    background-color: white;
    border: none;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #00CCFA;
    background-color: white;
}

.navbar-header {
    margin-left: 56px!important;
}

.navbar-right {
    margin-right: 32px;
}

a.navbar-brand {
    font-size: 29px;
    color: #00CCFA!important;
    letter-spacing: 4px;
}

.head-btn {
    color: white!important;
    background-color: #00CCFA;
    border-color: #00CCFA;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 1px;
    border-radius: 1px;
}

.head-btn:hover {
    background-color: #FF7645!important;
    color: white!important;
    border-color: #FF7645;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 1px;
    border-radius: 1px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #00CCFA!important;
}

.dropdown:hover {
    color: #00CCFA!important;
}
.navbar-default .navbar-nav>li>a:hover {
	color: #00ccfa;
}


/* carousel */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(4,4,35,0.5);
    opacity: 1.7;
}

.banner-text {
	margin-bottom: 100px;
    margin-left: -55px;
}

.para-banner {
	text-align: left;
	
}

.para-heading {
	text-align: left;
}


.click-btn {
	color: white!important;
    background-color: #00CCFA;
    border-color: #00CCFA;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    border-radius: 1px;
}

.click-btn:hover {
	background-color: #FF7645!important;
    color: white!important;
    border-color: #FF7645;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    border-radius: 1px;    
}

.contact-btn {
	color: white!important;
	background-color: transparent!important;
    border-color: white;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px; 
    border-radius: 1px;
	
}

.contact-btn:hover {
	background-color: #FF7645!important;
    color: white!important;
    border-color: #FF7645;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;
    border-radius: 1px;    
}

/* our service */

.our-service .single-service .text {
  background: #f7f4f4;
  padding: 45px 10px 25px 40px;
  border-bottom: 1px solid #fff;
}

.our-service {
    margin-top: 100px;
}

.heading-one {
	color: black;
    font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 32%!important;
    font-weight: bold;
}

.digit-heading {
	font-size: 75px;
	color:#E1DDDD;
    font-family: 'Noto Sans';
    top: 0%!important;	
}


 a.heading-one:hover{
	color: #00CCFA!important;
    font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 32%!important;
    font-weight: bold;
    text-decoration: none;
}

.single-service:hover {
  background: #f7f4f4;
  /* padding: 45px 10px 25px 40px; */
  border-bottom: 2px solid #00CCFA;
}

/* consultant banner */

.consultant-banner.section-margin-bottom {
	margin-top: 60px;
}
.consultant-banner {
	background:#2b2d46; 
	padding: 35px 0;
}


.consultant-banner h3,.consultant-banner p {
	color: #e1dddd;
	font-family: 'Noto Sans';
}

.consultant-banner h3 {
	margin-bottom: 18px;
}

.consultant-banner .btn-default {
	margin-top: 12px;
}

.try-btn {
	color: #00CCFA!important;
	background-color: transparent!important;
    border-color: #00CCFA;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;
}

.try-btn:hover {
	background-color: #00CCFA!important;
    color: white!important;
    border-color: #00CCFA;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;    
}

a.btn.btn-default.float-right.try-btn {
    margin-top: 39px;
    border-radius: 1px;
}

/* business services */
.business-banner.section-margin-bottom-two {
	margin-top: 60px;
}
.business-banner {
	background:white; 
	padding: 35px 0;
}

.business-banner h3,.business-banner p {
	color: black;
	font-family: 'Noto Sans';
}

.business-banner h3 {
	margin-bottom: 18px;
}

.business-banner .btn-default {
	margin-top: 12px;
}

.see-btn {
	color: #00CCFA!important;
	background-color: transparent!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;
}

.see-btn:hover {
	background-color: #00CCFA!important;
    color: white!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;    
}

a.btn.btn-default.float-right.see-btn {
    margin-top: 39px;
    border-radius: 1px;
}

.row.business-service-sec {
    margin-top: 36px;
}

.our-service-bus .single-service-bus .text {
  background: #f7f4f4;
  padding: 45px 10px 25px 40px;
  border-bottom: 1px solid #fff;
}

.our-service-bus {
    margin-top: 100px;
}

.heading-one-bus {
	color: black;
    font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 61%!important;
    font-weight: bold;
}

.digit-heading-bus {
	font-size: 75px;
	color:#E1DDDD;
    font-family: 'Noto Sans';
    top: 0%!important;	
}


 a.heading-one-bus:hover{
	color: #00CCFA!important;
	text-decoration: none;
    /* font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 32%!important;
    font-weight: bold;
    text-decoration: none */
}

.single-service-bus:hover {
  background: #f7f4f4;
  /* padding: 45px 10px 25px 40px; */
  border-bottom: 2px solid #00CCFA;
}

/* consultation form */

.form-desc {
	margin-top: -380px;
	margin-left: 25px;
	font-family: 'Noto Sans';
}

.form-control {
    display: block;
    width: 94%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    /* color: #00CCFA!important; */
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border:1px solid #e9e8e8;
    border-radius:0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
}

.submit-btn {
	color: white!important;
    background-color: #00CCFA;
    border-color: #00CCFA;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    border-radius: 1px;
}

.submit-btn:hover {
	background-color: #FF7645!important;
    color: white!important;
    border-color: #FF7645;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    border-radius: 1px;
}

.services-btn {
	color: #00CCFA!important;
	background-color: transparent!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:3px;
}


.services-btn:hover {
	background-color: #00CCFA!important;
    color: white!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:3px;
}


/* projects */

.business-banner.section-margin-bottom-two {
	margin-top: 60px;
}
.business-banner {
	background:white; 
	padding: 35px 0;
}

.business-banner h3,.business-banner p {
	color: black;
	font-family: 'Noto Sans';
}

.business-banner h3 {
	margin-bottom: 18px;
}

.business-banner .btn-default {
	margin-top: 12px;
}

.pro-btn {
	color: #00CCFA!important;
	background-color: transparent!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;
}

.pro-btn:hover {
	background-color: #00CCFA!important;
    color: white!important;
    border-color: #00CCFA;
    height: 50px;
    width: 236px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;    
}

a.btn.btn-default.float-right.pro-btn {
    margin-top: 39px;
    border-radius: 1px;
}

.row.business-service-sec {
    margin-top: 36px;
}

.our-service-pro .single-service-pro .text {
  background: #f7f4f4;
  padding: 45px 10px 25px 40px;
  border-bottom: 1px solid #fff;
}

.our-service-pro {
    margin-top: 100px;
}

.heading-one-pro {
	color: black;
    font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 70%!important;
    font-weight: bold;
}

.digit-heading-pro {
	font-size: 75px;
	color:#E1DDDD;
    font-family: 'Noto Sans';
    top: 0%!important;	
}


 a.heading-one-pro:hover{
	color: #fff!important;
	text-decoration: none;
    /* font-size: 24px;
    font-family: 'Noto Sans';
    position: absolute;
    top: 32%!important;
    font-weight: bold;
    text-decoration: none */
}

.single-service-pro:hover {
  background: #00CCFA!important;
  /* padding: 45px 10px 25px 40px; */
  border-bottom: 2px solid #00CCFA;
  color: white!important;
}

.our-service-pro .single-service-pro .text:hover{
    background: #00CCFA;
    padding: 45px 10px 25px 40px;
    border-bottom: 1px solid #fff;
    color: white!important;
}


/* client */

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}


.our-partner h3 {margin-bottom: 70px;}
.our-partner img {margin: 30px auto 0 auto;}


/* contact jumbotron */
.contact-banner.section-margin-bottom {
	margin-top: 60px;
}
.contact-banner {
	background:#00CCFA; 
	padding: 35px 0;
}


.contact-banner h3,.consultant-banner p {
	color: #e1dddd;
	font-family: 'Noto Sans';
}

.contact-banner h3 {
	margin-bottom: 18px;
}

.contact-banner .btn-default {
	margin-top: 12px;
}

.contact-us-btn {
	color: #fff!important;
	background-color: transparent!important;
    border-color: #fff;
    height: 50px;
    width: 175px;
    font-size: 16px;
    padding-top: 12px;
    margin-top: 20px;
    margin-left:20px;
}

.contact-us-btn:hover {
	background-color: #FF744F!important;
    color: white!important;
    border-color: #FF744F;
}

a.btn.btn-default.float-right.try-btn {
    margin-top: 39px;
    border-radius: 1px;
}

/* footer */
.hs_footer_main_wrapper{
	float:left;
	width:100%;
	background:#FFFFFF;
	padding-top:100px;
	padding-bottom:80px;
}
.hs_footer_logo_wrapper{
	float:left;
	width:100%;
	text-align:center;
	padding-left:30px;
	padding-right:30px;
}
.hs_footer_logo_wrapper img{
	display:inline-block;
}
.hs_footer_logo_wrapper p{
	margin-top:20px;
}
.hs_footer_logo_wrapper h4 a{
	font-size:16px;
	color:#ff7e00;
	display:inline-block;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	margin-top:20px;
}
.hs_footer_logo_wrapper h4 a i{
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
	position:relative;
	top:2px;
}
.hs_footer_logo_wrapper h4 a:hover i{
	padding-left:5px;
	    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.hs_footer_logo_wrapper ul{
	display:inline-block;
	margin-top:30px;
	margin-left: -50px;
}
.hs_footer_logo_wrapper li{
	float:left;
	margin-left:10px;
}
.hs_footer_logo_wrapper li:first-child{
	margin-left:0;
}
.hs_footer_logo_wrapper li a{
	float:left;
	width:35px;
	height:35px;
	line-height:35px;
	text-align:center;
	background:#282828;
	color:#ababab;
	font-size: 18px;
	-webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hs_footer_logo_wrapper li a:hover{
	background:#00CCFA;
	color:#ffffff;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hs_footer_help_wrapper{
	float:left;
	width:100%;
	text-align:center;
	padding-top: 20px;
	padding-left:30px;
	padding-right:30px;
	position:relative;
}
.hs_footer_help_wrapper:after{
	content: '';
    height: 455px;
    position: absolute;
    top: -100px;
    left: -15px;
}
.hs_footer_help_wrapper:before{
	content: '';
    height: 455px;
    position: absolute;
    top: -100px;
    right: -15px;
}
.hs_footer_help_wrapper h2{
	font-size:20px;
	color:#ffffff;
	text-transform:uppercase;
}
.hs_footer_help_wrapper h2 span{
	color:#ffffff;
	font-weight:bold;
}
.hs_footer_help_wrapper p{
	margin-top:30px;
}
.hs_footer_help_btn{
	display:inline-block;
	margin-top:50px;
}
.hs_footer_help_btn li a {
	float: left;
	width: 200px;
	height:50px;
	font-size:16px;
	text-transform:uppercase;
	display: block;
	text-align:center;
	line-height:50px;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
}
.hs_footer_help_btn li a:focus {
	outline: none;
}
.hs_effect_btnli a > span {
	vertical-align: middle;
}
.hs_footer_help_btn li .hs_btn_hover {
	border-radius: 1px;
	background: #00CCFA;
	color: #fff;
	-webkit-transition: background-color 0.3s, color 0.3s;
	transition: background-color 0.3s, color 0.3s;
	margin-left: -50px;
}
.hs_footer_help_btn li .hs_btn_hover::before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	bottom: -20px;
	right: -20px;
	background: inherit;
	border-radius: 1px;
	z-index: -1;
	opacity: 0.4;
	-webkit-transform: scale3d(0.8, 0.5, 1);
	transform: scale3d(0.8, 0.5, 1);
}
.hs_footer_help_btn li .hs_btn_hover:hover {
	-webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
	color: #ffffff;
	background-color: #FF7645!important;
	text-decoration: none;
	-webkit-animation: anim-moema-1 0.3s forwards;
	animation: anim-moema-1 0.3s forwards;
}
.hs_footer_help_btn li .hs_btn_hover:hover::before {
	-webkit-animation: anim-moema-2 0.3s 0.3s forwards;
	animation: anim-moema-2 0.3s 0.3s forwards;
}
.hs_footer_contact_wrapper{
	float:left;
	width:100%;
	padding-left:30px;
	padding-right:30px;
	padding-top:20px;
	text-align:center;
}
.hs_footer_contact_wrapper h2{
	font-size:20px;
	color:#ffffff;
	text-transform:uppercase;
}
.hs_footer_contact_wrapper h2 span{
	color:#ffffff;
	font-weight:bold;
}
.hs_footer_contact_wrapper p{
	margin-top:30px;
}
.hs_footer_contact_wrapper p span{
	color:#ff7e00;
}
.hs_footer_contact_wrapper p a{
	color:#ff7e00;
}
.hs_footer_contact_input_wrapper{
	float:left;
	width:100%;
	margin-top:50px;
}
.hs_footer_contact_input_wrapper input{
	width:100%;
	height:45px;
	padding-left:20px;
	background:transparent;
	border:1px solid #383838;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hs_footer_contact_input_wrapper input:hover, .hs_footer_contact_input_wrapper input:focus{
	border:1px solid #ff7e00;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
}
.hs_footer_contact_input_wrapper i{
	margin-left:-35px;
	color:#ff7e00;
}
/*-- hs footer wrapper End --*/
/*-- hs bottom footer wrapper Start --*/
.hs_bottom_footer_main_wrapper{
	float:left;
	width:100%;
	background:#1a1a1a;
	text-align:center;
	padding-top:35px;
	padding-bottom:35px;
	position:relative;
}
.footer_bottom_cont_wrapper{
	float:left;
	width:100%;
}
.footer_bottom_cont_wrapper p{
	font-size:14px;
}
/*-- hs bottom footer wrapper End --*/







